{{!-- Message Item Partial --}}
{{!-- File: templates/message-viewer/partials/message-item.hbs --}}

<div class="ncm-message-item {{#if message.unread}}ncm-message-item--unread{{/if}} {{#if message.selected}}ncm-message-item--selected{{/if}}" 
     data-message-id="{{message.id}}"
     data-action="select-message">
  
  <div class="ncm-message-item__header">
    <span class="ncm-message-item__sender">{{message.from}}</span>
    <span class="ncm-message-item__time">{{message.timestamp}}</span>
  </div>
  
  <div class="ncm-message-item__subject">{{message.subject}}</div>
  
  <div class="ncm-message-item__preview">{{message.preview}}</div>
  
  {{#if message.hasIndicators}}
  <div class="ncm-message-item__indicators">
    {{#if message.encrypted}}
    <span class="ncm-message-item__indicator ncm-message-item__indicator--encrypted">
      <i class="fas fa-lock"></i>
    </span>
    {{/if}}
    {{#if message.malware}}
    <span class="ncm-message-item__indicator ncm-message-item__indicator--malware">
      <i class="fas fa-virus"></i>
    </span>
    {{/if}}
    {{#if message.saved}}
    <span class="ncm-message-item__indicator ncm-message-item__indicator--saved">
      <i class="fas fa-star"></i>
    </span>
    {{/if}}
    {{#if message.spam}}
    <span class="ncm-message-item__indicator ncm-message-item__indicator--spam">
      <i class="fas fa-ban"></i>
    </span>
    {{/if}}
  </div>
  {{/if}}
</div>