{{!-- Message Item Partial --}}
{{!-- File: templates/message-viewer/partials/message-item.hbs --}}

<div class="ncm-message-item {{#if unread}}ncm-message-item--unread{{/if}} {{#if (eq ../selectedMessageId id)}}ncm-message-item--selected{{/if}}"
     data-message-id="{{id}}"
     data-action="select-message">
  
  {{#if status.spam}}
    <div class="ncm-message-item__spam-badge">
      <i class="fas fa-exclamation-triangle"></i> SPAM
    </div>
  {{/if}}
  
  <div class="ncm-message-item__header">
    <div class="ncm-message-item__from">{{from}}</div>
    
    {{!-- Show both date and relative time --}}
    <div class="ncm-message-item__time-container">
      <div class="ncm-message-item__time-main" title="{{fullTimestamp}}">
        {{formattedTimestamp}}
      </div>
      <div class="ncm-message-item__time-relative">
        {{relativeTime}}
      </div>
      
      {{!-- Badges --}}
      <div class="ncm-message-item__badges">
        {{!-- Show SimpleCalendar badge if present --}}
        {{#if scDisplay}}
          <span class="ncm-message-item__sc-badge" title="In-game time: {{scDisplay}}">
            <i class="fas fa-calendar-alt"></i>
          </span>
        {{/if}}
        
        {{!-- Show scheduled badge if message was scheduled --}}
        {{#if wasScheduled}}
          <span class="ncm-message-item__scheduled-badge" title="This message was scheduled">
            <i class="fas fa-clock"></i>
          </span>
        {{/if}}
      </div>
    </div>
  </div>
  
  <div class="ncm-message-item__subject">
    {{#if status.saved}}
      <i class="fas fa-star ncm-message-item__saved-icon"></i>
    {{/if}}
    {{#if encrypted}}
      <i class="fas fa-lock ncm-message-item__encrypted-icon"></i>
    {{/if}}
    {{subject}}
  </div>
  
  <div class="ncm-message-item__preview">
    {{truncate body 100}}
  </div>
  
  {{#if network}}
    <div class="ncm-message-item__network">
      <i class="fas fa-wifi"></i> {{network}}
    </div>
  {{/if}}
</div>