{{!-- Chat Card: Shared Message --}}
<div class="ncm-cc ncm-cc--shared">
  <div class="ncm-cc__scanline"></div>
  <div class="ncm-cc__header">
    <i class="fas fa-envelope"></i>
    <span class="ncm-cc__badge">Shared Message</span>
    <span class="ncm-cc__header-meta">via {{sharedBy}}</span>
  </div>
  <div class="ncm-cc__body">
    <div class="ncm-cc__fields">
      <div class="ncm-cc__field">
        <span class="ncm-cc__field-label">From</span>
        <span class="ncm-cc__field-value">{{message.from}}</span>
      </div>
      <div class="ncm-cc__field">
        <span class="ncm-cc__field-label">To</span>
        <span class="ncm-cc__field-value">{{message.to}}</span>
      </div>
    </div>
    <div class="ncm-cc__subject">{{message.subject}}</div>
    <div class="ncm-cc__msg-body">{{{message.body}}}</div>
    {{#if message.priority}}
    {{#if showPriority}}
    <div class="ncm-cc__priority ncm-cc__priority--{{message.priority}}">
      <i class="fas fa-exclamation-triangle"></i> {{message.priority}}
    </div>
    {{/if}}
    {{/if}}
  </div>
  <div class="ncm-cc__footer">
    <span class="ncm-cc__network"><i class="fas fa-network-wired"></i> {{message.network}} // {{message.messageIdShort}}</span>
  </div>
</div>
