{{!-- Notification Toast --}}
{{!-- File: templates/shared/notification.hbs --}}

<div class="ncm-toast ncm-toast--{{type}} {{#if dismissing}}ncm-toast--dismissing{{/if}}" data-notification-id="{{id}}">
  <div class="ncm-toast__icon">
    {{#if (eq type "success")}}
      <i class="fas fa-check-circle"></i>
    {{else if (eq type "error")}}
      <i class="fas fa-exclamation-circle"></i>
    {{else if (eq type "warning")}}
      <i class="fas fa-exclamation-triangle"></i>
    {{else}}
      <i class="fas fa-info-circle"></i>
    {{/if}}
  </div>
  
  <div class="ncm-toast__content">
    {{#if title}}
    <div class="ncm-toast__title">{{title}}</div>
    {{/if}}
    <div class="ncm-toast__message">{{message}}</div>
  </div>
  
  <button class="ncm-toast__close" data-action="dismiss-notification" data-notification-id="{{id}}">
    <i class="fas fa-times"></i>
  </button>
</div>